/* CSS Reset */
@import url("reset.css");

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;500;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease 0s;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

*:focus,
input,
textarea,
button {
  border: 0;
  outline: none;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

html {
  margin: 0;
  padding: 0;

  font-family: "Overpass", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
